<div class="left">
  <h2 class="title">
    Connect with friends and the<br>
    world around you on Clonebook.
  </h2>
  <div class="line">
    <%= image_tag "main1.png", class:"img" %>
    <div class="text">
      <span>See photos and updates</span> from friends in News Feed.
    </div>
  </div>
  <div class="line">
    <%= image_tag "main2.png", class:"img" %>
    <div class="text">
      <span>Share what's new</span> in your life on your Timeline.
    </div>
  </div>
  <div class="line">
    <%= image_tag "main3.png", class:"img" %>
    <div class="text">
      <span>Find more</span> of what you're looking for.
    </div>
  </div>
</div>
<div class="right">
  <%= render 'devise/registrations/new' %>
</div>

