<div class="users-container">
  <div class="title">Friends</div>
  <div class="users">
    <% @friends.each do |f| %>
      <%= render 'shared/user', u: f %>
    <% end %>
    <%= render 'shared/user', u: nil if @friends.count == 0 %>
  </div>
</div>