<div class="users-container">
  <div class="title">Friend Requests</div>
  <div class="users">
    <% @requests.each do |r| %>
      <%= render 'shared/user', u: r %>
    <% end %>
    <%= render 'shared/user', u: nil if @requests.count == 0 %>
  </div>
</div>