<% @requests.each do |r| %>
  <p>
    <%= link_to r.name, profile_path(r) %>
    <%= link_to 'Accept', friend_request_path(r), method: :patch %> 
    <%= link_to 'Reject', friend_request_path(r), method: :delete %>
  </p>
<% end %>